<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cu.mapper">
<select id="list" resultType="customer.CustomerVO">
	select * from member order by name 
</select>

<select id="detail" resultType="customer.CustomerVO">
	select * from member where id = #{id}
</select>

<insert id="insert">
	insert into member(id ,name , gender , email , tel)
	values (seq_board.nextval, #{name}, #{gender}, #{email}, #{tel} )
</insert>

<update id="update">
	update member set  
	name=#{name} , 
	gender=#{gender} , 
	email=#{email} , 
	tel = #{tel}
	where id = #{id}
</update>

<delete id="delete">
	delete from member where id = #{id}
</delete>
</mapper>