@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


html, body{ height:100%; } 

body{

	margin:0 auto;

	text-align:center;

	font-family: 'Noto Sans KR', sans-serif; 

}

a:link, a:visited { text-decoration:none; color:#000; }

#content{ padding:20px 0; min-width:1280px; min-height:650px; height:100%;  }

img { vertical-align:middle; }

 

table {
	width:80%;
	margin:0 auto;
	border:1px solid #b0b0b0;
	border-collapse:collapse; 
}

table th, table td { 
	border:1px solid #b0b0b0;
	padding: 5px 10px; 
}

table tr td a:hover, ul.grid li div:first-child a:hover { font-weight:bold; } 
table th { background-color: #f6f6f6 }
table tr { height:46px; } 
table.tb_list tr { height:38px; } 

#popup-background{
	position:absolute; left:0; top:0; width:100%; height:100%; 
	background-color:#000; opacity:0.3;  display:none; 
}
.center { position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); }

 table.tb_list { table-layout:fixed; }
 table.tb_list tr td { overflow:hidden; text-overflow:ellipsis; white-space:nowrap;  }

.btnSet { margin-top:20px; }
.btnSet a:not(:last-child){ margin-right:3px; }

a.btn-fill, a.btn-empty {
	display:inline-block;
	padding: 3px 15px 0;
	border:1px solid #3367d6;
	border-radius:3px; 
	box-shadow:2px 2px 3px #022d72;
	height:28px;  
}

a.btn-fill { 
	background-color: #3367d6;
	color: #fff;
}

a.btn-empty {
	background-color: #fff;
	color: #3367d6;
}

 

a.btn-fill-s, a.btn-empty-s {

	font-size:13px;	font-weight:bold;

	text-align:center; padding: 1px 10px;

	border:1px solid #c4dafc;

	border-radius:3px;

	box-shadow:2px 2px 2px #022d72;

	color:#0000cd;   

}

a.btn-fill-s { background-color:#b1cdfa;}

a.btn-empty-s { background-color:#fff; }

a { cursor:pointer; }

input {
	height:32px; padding: 0 10px;
	font-size:15px;  
	border: 1px solid #b0b0b0;
}
input:focus { outline:none;  }

input[type=radio], input[type=checkbox] { 
	width:18px;  vertical-align:middle;
	margin:0 5px 2px;
}

table tr td label:not(:first-child) { margin-left:20px; }

 

ul { list-style:none; padding:0; }

#list-top { padding:20px 10%; }

#list-top div { height:36px }

#list-top ul { margin:0; display:flex; }

#list-top ul li:not(:first-child) { margin-left:3px; }

#list-top ul li * { vertical-align:middle; } 

#list-top ul:first-child { float:left; }

#list-top ul:last-child { float:right; }

 

ul.grid {  width:80%;  margin:0 10%; display:inline-block;  }
.grid li { float:left; width:19%; height:150px; margin:20px 1.25% 0 0;
		border:1px solid #b0b0b0; box-sizing:border-box; }
.grid li div { text-align:left; padding:9px 10px; }
/* .grid li:not(:nth-child(5n)) { margin:0 1.25% 20px 0 } */
.grid li:nth-child(5n) { margin-right:0  }
.grid li div:nth-child(1) { height:65px; 
	overflow:hidden;   display:-webkit-box;
	-webkit-line-clamp: 3;  -webkit-box-orient:vertical;
	word-wrap:break-word;
}
.grid li div:nth-child(2) { padding:0 10px }
.grid li.first-row { margin-top:0  } /* 첫번째 줄 li 들에 대해 위쪽여백 없애기 */

.tb_wrap { overflow-y:auto; width:80%; margin: 0 9.97%;  } 
.tb_wrap table { width:100%; }

select { height:34px; border:1px solid #b0b0b0; padding:0 5px; cursor:pointer; }
select:focus{ outline: none; }
.left { text-align:left; }

.right { text-align:right; }

textarea { padding:10px;  border:1px solid #b0b0b0; }
textarea:focus{ outline: none; }
 
#preview { height:36px; display:inline-block; }
#preview-img { max-height:34px; }
.middle * { vertical-align: middle; }

input[name=title] { width:calc(100% - 24px)}

textarea[name=content] { width:calc(100% - 24px); resize:none; height:150px; }

 

.file-img { width:20px }
.font-img { font-size:20px; } 

#attach-file, #delete-file { display:none;   }
#delete-file { color:red; }


 
.page_list { color:#333; }
.page_on, .page_off, .page_next, .page_last, .page_first, .page_prev{ 

	display:inline-block;  line-height: 30px; margin:0;

}

.page_on { border:1px solid gray; background-color:gray; 
	color:#fff; font-weight:bold;}

.page_on, .page_off{
	min-width:22px; padding:0 5px 2px   
}	

.page_next, .page_last, .page_first, .page_prev {

	width:30px; height:32px;  color:#666; /* border:1px solid gray;*/
/* 	 text-indent:-999999999999px  */

}

 

.loading { position:absolute; left:50%; top:50%; 

			transform:translate(-50%,-50%); display:none; }

 

.w-pct80 { width:80% }

.w-pct60 { width:60% }

.w-pct50 { width:50% }

.w-pct40 { width:40% }

.w-px300 { width:300px; }

.w-px200 { width:200px; }

.w-px250 { width:200px; }

.w-px100 { width:100px; }
.w-px110 { width:110px; }

.w-px80 { width:80px; }
.w-px90 { width:90px; }

.w-px70 { width:70px; }
.w-px60 { width:60px; }

.w-px40 { width:40px; }

.w-px180 { width:180px; }

.w-px160 { width:160px; }

.w-px140 { width:140px; }

.w-px120 { width:120px; }